*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #528838f4;
    text-align: center;
}

h1{
    font-size: 8vmin;
    color: #ffffe8;
    margin-top: 5vmin;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #245a24;
    background-color: #e1e19cf4;

}

#reset-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #245a24;
    color:  #e1e19cf4;
    border-radius: 2rem;
    border-style: double;
    border-color: #e1e19cf4;
}

#new-btn{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #245a24;
    color: #e1e19cf4;
    border-radius: 2rem;
    border-color: #e1e19cf4; 
    border-style: double;
}

#msg{
    color: #ffffe8;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.hide{
    display: none;
}